@import "../bower_components/bootstrap/less/bootstrap.less";
@import "theme/variables-paper.less";
@import "theme/bootswatch-paper.less";

@import (inline) "../bower_components/ngtoast/dist/ngToast.min.css";
@import (inline) "../bower_components/angular-loading-bar/build/loading-bar.css";
@import (inline) "../bower_components/nouislider/distribute/nouislider.min.css";

@import "../bower_components/font-awesome/less/font-awesome.less";

@import "**/*.less";

@fa-font-path: "./fonts";

@grid-float-breakpoint: 0;
@font-size-base: 14px;
@brand-orange: #F06322;
@brand-primary: #95c318;

@panel-bg: rgba(255,255,255,0.4);
@panel-default-text: #fff;
@panel-default-border: #ddd;
@panel-default-heading-bg: @brand-orange;

html {
	position: relative;
	min-height: 100%;
}

body {
	background-image: url(img/pattern.png), linear-gradient(#dedede, #ffffff);

	&.modal-open {
		overflow: auto;
	}
}