@import "../bower_components/bootstrap/less/bootstrap.less";
@import "theme/variables-paper.less";
@import "theme/bootswatch-paper.less";

@import (inline) "../bower_components/ngtoast/dist/ngToast.min.css";
@import (inline) "../bower_components/angular-loading-bar/build/loading-bar.css";
@import (inline) "../bower_components/nouislider/distribute/nouislider.min.css";

@import "../bower_components/font-awesome/less/font-awesome.less";

@import "**/*.less";

@fa-font-path: "./fonts";

@grid-float-breakpoint: 0;
@font-size-base: 14px;

@brand-orange: #f06322;
@brand-primary: #95c318;
@brand-success: @brand-primary;

@panel-bg: rgba(255,255,255,0.4);
@panel-default-text: #fff;
@panel-default-border: #ddd;
@panel-default-heading-bg: @brand-orange;


@navbar-default-color: #fff;
@navbar-default-bg: @brand-orange;
@navbar-default-border: darken(@navbar-default-bg, 6.5%);
@navbar-default-link-color: #fff;
@navbar-default-link-hover-color: #fff;
@navbar-default-link-hover-bg: lighten(@brand-primary, 5%);
@navbar-default-link-active-color: #fff;
@navbar-default-link-active-bg: @brand-primary;

html {
	position: relative;
	min-height: 100%;
}

body {
	background-image: url(img/pattern.png), linear-gradient(#dedede, lighten(#dedede, 10));

	&.modal-open {
		overflow: auto;
	}
}

.btn:focus, .btn:active:focus, .btn.active:focus{
	outline: none;
}