<div class="container header" ng-class="{
	big: ('home' | isState) || ('404' | isState)
}">
	<div class="logo">
		<div class="title">
			<span class="phoenix">PHOENIX</span>
			<span class="eye">EYE</span>
		</div>
	</div>

	<nav class="navbar navbar-default" role="navigation">
		<ul class="nav navbar-nav">
			<li ui-sref-active="active"><a href="" ui-sref="home">Home</a></li>
			<li ui-sref-active="active"><a href="" ui-sref="about">About</a></li>
			<li ui-sref-active="active"><a href="" ui-sref="info">Information</a></li>
		</ul>

		<div class="navbar-right social">
			<a
				href=""
				class="facebook"
				socialshare
				socialshare-provider="facebook"
			>
				<i class="fa fa-facebook"></i>
			</a>
			<a
				href=""
				class="twitter"
				socialshare
				socialshare-provider="twitter"
			>
				<i class="fa fa-twitter"></i>
			</a>
			<a
				href=""
				class="github"
			>
				<iframe
					src="https://ghbtns.com/github-btn.html?user=ebemunk&repo=phoenix&type=star&count=true&size=large"
					frameborder="0"
					scrolling="0"
					width="125px"
					height="30px"
				></iframe>
			</a>
		</div>
	</nav>
</div>
