<div class="container header" ng-class="{
	big: ('home' | isState) || ('404' | isState)
}">
	<div class="logo">
		<div class="title">
			<span class="phoenix">PHOENIX</span>
			<span class="eye">EYE</span>
		</div>
	</div>

	<nav class="navbar navbar-default" role="navigation">
		<ul class="nav navbar-nav">
			<li ui-sref-active="active"><a href="" ui-sref="home">Home</a></li>
			<li ui-sref-active="active"><a href="" ui-sref="about">About</a></li>
			<li ui-sref-active="active"><a href="" ui-sref="info">Information</a></li>
		</ul>
	</nav>
</div>