<div class="container">
	<h1>Phoenix Eye - Digital Image Forensics</h1>
	<p>Copyright &copy; 2015 <span class="reverse">mo<span class="hide">bader de der der derrr</span>c.liamg@k<span class="hide">whippety whoppety woo</span>numebe</span> - <a href="https://github.com/ebemunk/phoenixeye/blob/master/LICENSE" target="_blank">LICENSE</a></p>
	<div class="row">
		<ul class="footer-nav">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="about">About</a></li>
			<li><a ui-sref="info">Information</a></li>
			<li><a href="https://github.com/ebemunk/phoenixeye">Phoenix Eye Source</a></li>
			<li><a href="https://github.com/ebemunk/phoenix">phoenix Source</a></li>
		</ul>
	</div>
</div>
