<div class="image-policy">
	<div class="modal-header">
		<h3 class="modal-title">Image Submission Policy</h3>
	</div>

	<div class="modal-body">
		<p>Before we get started...</p>
		<p>We have some rules that you need to understand before using the Phoenix Eye.</p>
		<ul>
			<li>The submitted images are <strong>public</strong> and can be accessed if you know the URL.</li>
			<li>This isn't a picdump.</li>
			<li>No porn images, but nudity ok.</li>
		</ul>
		<p>If you break these rules the Phoenix will backtrace your IP and hand you over to the Internet Police.</p>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok(true)">Sounds good.</button>
		<a href="http://www.barbie.com/en-us/videos/be-super" class="btn btn-danger">No.</a>
	</div>
</div>