<nav class="navbar navbar-default image-navbar">
	<ul class="nav navbar-nav">
		<form class="navbar-form navbar-left">
			<li class="btn-group" dropdown>
				<a class="btn btn-default"
					ng-click="$ctrl.vm.displayedImage = $ctrl.vm.image"
					ng-class="{active: $ctrl.vm.displayedImage.id === $ctrl.vm.image.id}"
				>
					Original
				</a>
			</li>

			<li class="btn-group" dropdown>
				<a class="btn btn-default"
					ng-click="$ctrl.vm.displayedImage = $ctrl.vm.analyses.ela[0]"
					ng-class="{
						active: $ctrl.vm.displayedImage.type == 'ela',
						disabled: $ctrl.vm.analyses.ela.length < 1
					}"
				>
					<abbr title="Error Level Analysis">ELA</abbr>
				</a>
				<a class="btn btn-default dropdown-toggle"
					dropdown-toggle
					ng-class="{disabled: $ctrl.vm.analyses.ela.length < 1}"
				>
					<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li
						ng-repeat="analysis in $ctrl.vm.analyses.ela track by analysis.id"
						ng-class="{active: $ctrl.vm.displayedImage == analysis}"
					>
						<a href
							ng-click="$ctrl.vm.displayedImage = analysis"
						>
							Quality: {{analysis.params.quality}}% | <small>{{analysis.createdAt | date : 'MMM d, yy @ h:mm a'}}</small>
						</a>
					</li>
				</ul>
			</li>

			<li class="btn-group" dropdown>
				<a class="btn btn-default"
					ng-click="$ctrl.vm.displayedImage = $ctrl.vm.analyses.lg[0]"
					ng-class="{
						active: $ctrl.vm.displayedImage.type == 'lg',
						disabled: $ctrl.vm.analyses.lg.length < 1
					}"
				>
					<abbr title="Luminance Gradient">LG</abbr>
				</a>
				<a class="btn btn-default dropdown-toggle"
					dropdown-toggle
					ng-class="{disabled: $ctrl.vm.analyses.lg.length < 1}"
				>
					<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li
						ng-repeat="analysis in $ctrl.vm.analyses.lg track by analysis.id"
						ng-class="{active: $ctrl.vm.displayedImage == analysis}"
					>
						<a href
							ng-click="$ctrl.vm.displayedImage = analysis"
						>
							<small>{{analysis.createdAt | date : 'MMM d, yy @ h:mm a'}}</small>
						</a>
					</li>
				</ul>
			</li>

			<li class="btn-group" dropdown>
				<a class="btn btn-default"
					ng-click="$ctrl.vm.displayedImage = $ctrl.vm.analyses.avgdist[0]"
					ng-class="{
						active: $ctrl.vm.displayedImage.type == 'avgdist',
						disabled: $ctrl.vm.analyses.avgdist.length < 1
					}"
				>
					<abbr title="Average Distance">AD</abbr>
				</a>
				<a class="btn btn-default dropdown-toggle"
					dropdown-toggle
					ng-class="{disabled: $ctrl.vm.analyses.avgdist.length < 1}"
				>
					<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li
						ng-repeat="analysis in $ctrl.vm.analyses.avgdist track by analysis.id"
						ng-class="{active: $ctrl.vm.displayedImage == analysis}"
					>
						<a href
							ng-click="$ctrl.vm.displayedImage = analysis"
						>
							<small>{{analysis.createdAt | date : 'MMM d, yy @ h:mm a'}}</small>
						</a>
					</li>
				</ul>
			</li>

			<li class="btn-group" dropdown>
				<a class="btn btn-default"
					ng-click="$ctrl.vm.displayedImage = $ctrl.vm.analyses.copymove[0]"
					ng-class="{
						active: $ctrl.vm.displayedImage.type == 'copymove',
						disabled: $ctrl.vm.analyses.copymove.length < 1
					}"
				>
					<abbr title="Copy-Move Detection">CM</abbr>
				</a>
				<a class="btn btn-default dropdown-toggle"
					dropdown-toggle
					ng-class="{disabled: $ctrl.vm.analyses.copymove.length < 1}"
				>
					<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li
						ng-repeat="analysis in $ctrl.vm.analyses.copymove track by analysis.id"
						ng-class="{active: $ctrl.vm.displayedImage == analysis}"
					>
						<a href
							ng-click="$ctrl.vm.displayedImage = analysis"
						>
							Retain: {{analysis.params.retain}}, QCoeff: {{analysis.params.qcoeff}} | <small>{{analysis.createdAt | date : 'MMM d, yy @ h:mm a'}}</small>
						</a>
					</li>
				</ul>
			</li>
		</form>
	</ul>

	<form class="navbar-form navbar-right">
		<a
			class="btn btn-default btn-requestAnalysis"
			ng-click="$ctrl.vm.requestAnalysis()"
			ng-if="! $ctrl.vm.analysisPollActive"
		>
			Request Analysis
		</a>

		<a
			class="btn btn-default btn-requestAnalysis"
			ng-if="$ctrl.vm.analysisPollActive"
			disabled
		>
			<i class="fa fa-gear fa-spin"></i> Computing
		</a>
	</form>
</nav>
