<div class="row image-view">
	<div class="col-xs-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Basic Info
					<collapse-toggle toggle="vm.collapsedPanels.basic"></collapse-toggle>
				</h3>
			</div>
			<div class="panel-body" collapse-when="vm.collapsedPanels.basic">
				<div class="nowrap">
					<strong>Original Filename</strong>
					<span title="{{vm.image.originalFileName}}">{{vm.image.originalFileName}}</span>
				</div>
				<div class="nowrap">
					<strong>Location</strong>
					<span title="{{vm.image.url || 'Uploaded'}}">{{vm.image.url || 'Uploaded'}}</span>
				</div>
				<div><strong>Size</strong> {{vm.image.fileSize | bytes}}</div>
				<div><strong>Dimensions</strong> {{vm.image.size.width}} &times; {{vm.image.size.height}}</div>
				<div ng-if="vm.image.channelStatistics.Pixels"><strong>Pixels</strong> {{vm.image.channelStatistics.Pixels | number}}</div>
				<div><strong>Last Save Quality (<abbr title="Hackerfactor Estimation Method">HF</abbr>)</strong> {{vm.image.hackerfactorQuality | number : 0}}%</div>
				<div><strong>Last Save Quality (<abbr title="ImageMagick Estimation Method">IM</abbr>)</strong> {{vm.image.imagemagickQuality}}%</div>
				<div><strong>Submitted</strong> {{vm.image.createdAt | date : 'MMM d, yy @ h:mm a'}}</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">GPS Map
					<collapse-toggle toggle="vm.collapsedPanels.map"></collapse-toggle>
				</h3>
			</div>
			<div class="panel-body" collapse-when="vm.collapsedPanels.map">
				<div
					ng-if="vm.gps"
					map-lazy-load="http://maps.google.com/maps/api/js"
				>
					<map
						center="{{vm.gps.lat}}, {{vm.gps.lng}}"
						zoom="6"
						scrollwheel="false"
						init-event="gpsMapInit"
					>
						<marker
							position="[{{vm.gps.lat}}, {{vm.gps.lng}}]"
							title="Image GPS Location"
							visible="true"
						></marker>
					</map>
				</div>
				<div ng-if="! vm.gps">
					No GPS data available.
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">3D RGB Colorspace
					<collapse-toggle toggle="vm.collapsedPanels.rgb"></collapse-toggle>
					<i class="fa fa-question-circle"
						tooltip="3D RGB histogram visualization.">
					</i>
				</h3>
			</div>
			<div class="panel-body centered position-relative" collapse-when="vm.collapsedPanels.rgb">
				<colorspace image="vm.image"></colorspace>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">HSV Histogram
					<collapse-toggle toggle="vm.collapsedPanels.hsv"></collapse-toggle>
					<i class="fa fa-question-circle"
						tooltip="HSV histogram visualization.">
					</i>
				</h3>
			</div>
			<div class="panel-body" collapse-when="vm.collapsedPanels.hsv">
				<div class="centered" ng-if="vm.histograms.hsv.length">
					<select 
						class="form-control"
						ng-model="vm.displayedHSV"
						ng-options="hsv as (hsv.params.whitebg == 'true' ? 'White BG' : 'Black BG') + ' | ' + (hsv.createdAt | date:'MMM dd, yy @ h:mm a') for hsv in vm.histograms.hsv"
					></select>
					<img class="img-responsive"
						ng-src="{{vm.displayedHSV ? vm.displayedHSV.path + '/' + vm.displayedHSV.fileName : ''}}"
					>
				</div>
				<div ng-if="! vm.histograms.hsv.length">
					HSV Histogram not yet available.
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Lab Histogram
					<collapse-toggle toggle="vm.collapsedPanels.lab_fast"></collapse-toggle>
					<i class="fa fa-question-circle"
						tooltip="Lab histogram visualization.">
					</i>
				</h3>
			</div>
			<div class="panel-body" collapse-when="vm.collapsedPanels.lab_fast">
				<div class="centered" ng-if="vm.histograms.lab_fast.length">
					<select
						class="form-control"
						ng-model="vm.displayedLab"
						ng-options="lab_fast as (lab_fast.params.whitebg == 'true' ? 'White BG' : 'Black BG') + ' | ' + (lab_fast.createdAt | date:'MMM dd, yy @ h:mm a') for lab_fast in vm.histograms.lab_fast"
					></select>
					<img class="img-responsive"
						ng-src="{{vm.displayedLab ? vm.displayedLab.path + '/' + vm.displayedLab.fileName : ''}}"
					>
				</div>
				<div ng-if="! vm.histograms.lab_fast.length">
					Lab Histogram not yet available.
				</div>
			</div>
		</div>

		<div class="panel panel-default" ng-if="vm.image.type == 'jpg'">
			<div class="panel-heading">
				<h3 class="panel-title">Quantization Tables
					<collapse-toggle toggle="vm.collapsedPanels.qtables"></collapse-toggle>
					<i class="fa fa-question-circle"
						tooltip="Quantization Tables extracted from the image.">
					</i>
				</h3>
			</div>
			<div class="panel-body" collapse-when="vm.collapsedPanels.qtables">
				<div
					ng-if="vm.image.qtables"
					ng-repeat="(tableIndex, qt) in vm.image.qtables"
				>
					<h4>{{tableIndex == '1' ? 'Chrominance' : 'Luminance'}}</h4>
					<table class="table table-bordered table-condensed">
						<tr ng-repeat="row in qt">
							<td ng-repeat="q in row track by $index">{{q}}</td>
						</tr>
					</table>
				</div>
				<div ng-if="vm.image.qtables | isEmptyObject">
					Quantization Tables not yet available.
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-8">
		<ng-include src="'components/imageNavbar/imageNavbar.html'"></ng-include>

		<ng-include src="'components/imageControls/imageControls.html'"></ng-include>

		<div class="image-display">
			<div
				class="magnifier"
				magnifier="vm.magnifier"
				target="#image-display"
			></div>

			<img
				class="overlay"
				overlay="vm.overlay"
				ng-class="{
					'img-responsive': vm.displayFitToWidth
				}"
				ng-src="{{vm.image ? vm.image.path + '/' + vm.image.fileName : ''}}"
			>

			<img
				id="image-display"
				class="img-responsive"
				ng-class="{
					'img-responsive': vm.displayFitToWidth
				}"
				ng-src="{{vm.displayedImage ? vm.displayedImage.path + '/' + vm.displayedImage.fileName : ''}}"
			>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Extended Info
					<collapse-toggle toggle="vm.collapsedPanels.extendedInfo"></collapse-toggle>
					<i class="fa fa-question-circle"
						tooltip="Extended information and statistics about the image.">
					</i>
				</h3>
			</div>
			<div class="panel-body" collapse-when="vm.collapsedPanels.extendedInfo">
				<div class="row">
					<div class="col-xs-6">
						<div ng-if="vm.image.imageStatistics">
							<h4>Image Statistics</h4>
							<div><strong>Max</strong> {{vm.image.imageStatistics.max}}</div>
							<div><strong>Min</strong> {{vm.image.imageStatistics.min}}</div>
							<div><strong>Mean</strong> {{vm.image.imageStatistics.mean}}</div>
							<div><strong><abbr title="Standard Deviation">Stdev.</abbr></strong> {{vm.image.imageStatistics['standard deviation']}}</div>
							<div><strong>Skewness</strong> {{vm.image.imageStatistics.skewness}}</div>
							<div><strong>Entropy</strong> {{vm.image.imageStatistics.entropy}}</div>
							<div><strong>Kurtosis</strong> {{vm.image.imageStatistics.kurtosis}}</div>
						</div>
					</div>

					<div class="col-xs-6">
						<div ng-if="vm.image.chromaticity">
							<h4>Chromaticity</h4>
							<div><strong>White Point</strong> {{vm.image.chromaticity['white point']}}</div>
							<div><strong>Red Primary</strong> {{vm.image.chromaticity['red primary']}}</div>
							<div><strong>Green Primary</strong> {{vm.image.chromaticity['green primary']}}</div>
							<div><strong>Blue Primary</strong> {{vm.image.chromaticity['blue primary']}}</div>
						</div>
					</div>
				</div>

				<div ng-if="image.channelStatistics">
					<h4>Channel Statistics</h4>
					<div class="row">
						<div ng-repeat="(channel, stats) in vm.image.channelStatistics" ng-if="channel != 'Pixels'" class="col-xs-4">
							<h5>{{channel}}</h5>
							<div><strong>Max</strong> {{stats.max}}</div>
							<div><strong>Min</strong> {{stats.min}}</div>
							<div><strong>Mean</strong> {{stats.mean}}</div>
							<div><strong><abbr title="Standard Deviation">Stdev.</abbr></strong> {{stats['standard deviation']}}</div>
							<div><strong>Skewness</strong> {{stats.skewness}}</div>
							<div><strong>Entropy</strong> {{stats.entropy}}</div>
							<div><strong>Kurtosis</strong> {{stats.kurtosis}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Metadata
					<collapse-toggle toggle="vm.collapsedPanels.exifInfo"></collapse-toggle>
					<i class="fa fa-question-circle"
						tooltip="Extended information and statistics about the image.">
					</i>
				</h3>
			</div>
			<div class="panel-body" collapse-when="vm.collapsedPanels.exifInfo">
				<fuzzy-search list="vm.metaList" filtered="vm.metaFiltered"></fuzzy-search>
				<div ng-repeat="(title, meta) in vm.metaFiltered">
					<h4>{{title | uppercase}}</h4>
					<table class="table table-condensed">
						<thead ng-repeat-start="(heading, section) in meta" >
							<tr>
								<th colspan="2">{{heading}} <collapse-toggle toggle="vm.collapsedMeta[heading]"></collapse-toggle></th>
							</tr>
						</thead>
						<tbody ng-repeat-end collapse-when="vm.collapsedMeta[heading]">
							<tr ng-repeat="(key, value) in section">
								<td>{{key}}</td>
								<td>{{value}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div
					class="no-metadata"
					ng-if="vm.metaFiltered | isEmptyObject"
				>
					No metadata found.
				</div>
			</div>
		</div>
	</div>
</div>