<div class="modal-header">
	<h3 class="modal-title">Request Analysis</h3>
</div>

<div class="modal-body">
	<div>
		<label>
			<input type="checkbox" ng-model="analysis.ela"> Error Level Analysis
		</label>
		<label> Quality
			<slider ng-model="ela.quality" min="1" step="1" max="100" ng-disabled="! analysis.ela"></slider>
		</label>
	</div>

	<div>
		<label>
			<input type="checkbox" ng-model="analysis.lg"> Luminance Gradient
		</label>
	</div>

	<div>
		<label>
			<input type="checkbox" ng-model="analysis.avgdist"> Average Distance
		</label>
	</div>

	<div>
		<label>
			<input type="checkbox" ng-model="analysis.copymove"> Copy-Move Detection
		</label>
		<label> Retain
			<slider ng-model="copymove.retain" min="1" step="1" max="16" ng-disabled="! analysis.copymove"></slider>
		</label>
		<label> Quality Coefficient
			<slider ng-model="copymove.qcoeff" min="0.1" step="0.1" max="5" ng-disabled="! analysis.copymove"></slider>
		</label>
	</div>

	<div>
		<label>
			<input type="checkbox" ng-model="analysis.hsv"> HSV Histogram
		</label>
		<label>
			<input type="checkbox" ng-model="hsv.whitebg" ng-disabled="! analysis.hsv"> White Background?
		</label>
	</div>

	<div>
		<label>
			<input type="checkbox" ng-model="analysis.labfast"> Lab Histogram
		</label>
		<label>
			<input type="checkbox" ng-model="labfast.whitebg" ng-disabled="! analysis.labfast"> White Background?
		</label>
	</div>

</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>